@import "tailwindcss";

/* ===== Premium Range Slider ===== */
.styled-range {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 999px;
  background: linear-gradient(
    to right,
    #8b5cf6 var(--fill),
    #e5e7eb var(--fill)
  );
  outline: none;
}

.styled-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #8b5cf6;
  border: 3px solid white;
  box-shadow: 0 4px 10px rgba(139, 92, 246, 0.4);
  cursor: pointer;
}

.styled-range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #8b5cf6;
  border: 3px solid white;
  box-shadow: 0 4px 10px rgba(139, 92, 246, 0.4);
  cursor: pointer;
}


/* Remove number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

